.content {
    width: 100%;
    height: auto ;
    min-height: 750px;
    background-color: #fff;
    padding: 10px 0 10px 0;
    color: #658139;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*
===========================goods sidebar====================
 */
.sidebar {
    width: 30%;
    background-color: #fff;

}
.navigation {
    width: 85%;
    font-size: 17px;
    font-weight: normal;
    padding: 0 0 0 5%;
    border-bottom: 1px solid #658139;
    margin-bottom: 20px;
}
.navigation-menu-wrapper{
    width: 100%;
    margin-bottom: 60px;
    
}
.navigation-menu-item {
    border: 2px solid #f8981d;
    width: 90%;
    margin: 0 auto;
    border-bottom: none;
    display: block;
    background-color: #fff;
    font-size: 30px;
}
.navigation-menu {
    width: 100%;
}
.navigation-menu .active-nav-menu {
    background-color: #658138;
    color: #fff;
    width: 90%;
}
.navigation-menu-item:hover {
    cursor: pointer;
    background-color: #ecebeb;
}
.active-nav-menu:hover {
    background-color: #658138;
}
.navigation-item-underline {
    border-bottom:  2px solid #f8981d;
}
.nav-menu-banner-conteiner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.nav-menu-banner-conteiner img {
    width: 100%;
    height: auto;

}

.nav-menu-banner-text {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 40px;
    top: 25%;
    left: calc(50% - 118px);
    min-width: 235px;
}


/*
===========================goods field====================
 */


.goods {
    width: 68%;
padding: 0 0 0 10px;

}
.sorting-field {
    margin-top: -5px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#chenge-sortin-field {
    font-size: 18px;
    color: #658138;
    border: 1px solid #f8981d;
    font-family: Phenomena;
    
}
#chenge-sortin-field:active {
       border: 1px solid #f8981d;
 }

.goods-item {
    width: 240px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}
.goods-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.27);
}


.goods-item-name {
    color: #fff;
    background-color: #658138;
    width: 100%;
    height: 50px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
}
.goods-item-name:hover {
    cursor: pointer;
    opacity: 0.8;
}
.output-goods-field {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.outout-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.goods-item-overlay-wrapper {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
}

.goods-item-overlay {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
    opacity: 0;
    transition: opacity 0.5s;
}
.goods-item-overlay:hover {
    opacity: 1;
}

.goods-image-view {
    margin-right: 20px;
}
.goods-item-overlay::after {
    position: absolute;
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    background-color: #fff;
    z-index: 150;
    right: calc(50% - 1px);
    bottom: calc(50% - 20px);



}

@media screen and (max-width: 1680px) {
.output-goods-field {
   width: 520px; 
}
}

