
    /*
    ==================main Banner===================
    */

.content {
    width: 100%;
}
.main-banner {
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: block;
 }
 .banner-field {
    width: 100%;
  height: auto;
 }
.main-banner-slider {
    width: 10%;
    height: 25px;
    background-color: transparent;
    position: absolute;
    z-index: 150;
    bottom: 10px;
    left: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.5s ease;
}
.checkbox:hover {
    cursor: pointer;
    background-color: #b8b8b8;
    }

.main-banner-slider .checkbox-active {
    background-color: #668238;
}

/*
    ==================New goods field===================
 */

 .new-goods-field {
    width: 100%;
    color: #658138;
 }

 .new-goods-header {
     width: 38%;
     margin: 10px auto;
     font-size: 36px;
     text-align: center;
     min-height: 50px;
     font-weight: bold;
 }
 .new-goods-slider {
     width: 100%;
     height: auto;
     min-height: 200px;
     display: flex;
     justify-content: space-around;
     flex-wrap: nowrap;
     position: relative;
     padding: 0 10px;
     margin-bottom: 10px;


 }
 .new-goods-slider-item {
     width: 21.7%;
     height: auto;
     background-color: #fff;
 }
.new-goods-slider-item a {
    text-decoration: none;
}
 .new-goods-slider-item-ico {
      width: 100%;
      height: auto;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.27);
      margin-bottom: 15px;
 }
 .new-goods-slider-item-button {
     width: 100%;
     height: 15.7%;
     font-size: 26px;
     background-color: #668238; 
     color: #fff;
     display: flex;
     vertical-align: middle;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 10px;
     opacity: 1;
     transition: opacity 0.5s ease;
     
 }
 .new-goods-slider-item-button:hover {
     opacity: 0.8;
     cursor: pointer;
 }
 .new-font-size {
     font-size: 26px;
 }
 .slider_arrow_left {
     left: 5px;
     top: 35%;
 }
 .slider_arrow_right {
     right: 5px;
     top: 35%;
}

.slider_arrows {
     z-index: 999;
     position: absolute;
}

.slider_arrows:hover {
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.subscribe-field {
    width: 100%;
    height: 300px;
    background: url(../images/subscribe_banner.jpg) no-repeat center;
    background-size: 100%;
    display: flex;
    justify-content:flex-end;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

}
.subscribe-banner-text {
    color: #444444;
    font-size: 50px;
    margin-left: 22%;
    width: 39.6%;
    font-weight: bold;

}

.subscribe-banner-text span {
    color: #fe9900;

}

.subcribe-banner-form {
    width: 35%;
    margin-right: 15px;
}
#subscribe-form {
    width: 100%;
    height: auto;
}
#submit-subscribe {
    width: 48%;
    height: 40px;
    margin-left: 26%;
}


#subscribe-number-field, #subscribe-email-field {
    width: 80.5%;
    font-size: 24px;
    color: #fff;
    background-color: #f9c87e;
    border: none;
    margin-bottom: 10px;
    margin-left: 9.75%;
    padding: 3px 10px;
}

#subscribe-number-field:hover, #subscribe-email-field:hover {
cursor: text;
}
#subscribe-number-field:focus, #subscribe-email-field:focus {
cursor: text;
outline: none;
}

/*
    ==================Actions field===================
 */
 .shares-field {
     width: 100%;
     height: auto;
 }

 .shares-header {
     width: 30%;
     margin: 10px auto;
     font-size: 36px;
     text-align: center;
     min-height: 50px;
     color: #658138;
     font-weight: bold;
 }

 .shares-banners {
     width: 100%;
     height: auto;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
}

.share-banner-imege {
    width: 31.6%;
    height: 100%;
    cursor: pointer;
}

/*
    ================manufacturers slider====================
 */

 .manufacturers-slider {
     width: 100%;
     height: auto;
     margin-bottom: 10px;

 }
 .manufacturers-slider-wrapper {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-around;
     flex-wrap: nowrap;
     align-items: center;
     position: relative;


 }

.manufacturers-slider-item {
    width:12.5%;
    height: auto;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.27);
    margin-bottom: 10px;
    cursor: pointer;
}
.manufacturers-slider-ico {
    width: 100%;
    height: auto;
}

.manufacturers-slider-right-arrow {
position: absolute;
top: 35%;
right: 5px;

}
.manufacturers-slider-left-arrow {
    position: absolute;
    left: 5px;
    top: 35%;
}

/*
    ================footer====================
 */

 .footer {
     width: 100%;
     height: 100%;
     padding: 0 15px 0 15px;
     background: url(../images/footer_background.jpg) no-repeat center;
     font-size: 30px;
 }
.main-footer-info {
    
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    color: #fff;

}

.footer-schedule {
    width: 26.6%;
    height: auto;
    position: relative;
}
.footer-schedule img {
    width: 100%;
    height: auto;
}

.footer-contacts {
    width: 28.2%;
    margin-top: 7%;
    margin-bottom: 20px;
    position: relative;
    min-width: 235px;
}

.footer-contacts img {
    display: inline-block;
    position: absolute;
    top: -3S%;
    left:0;
}
#footer-email-ico {
    top: 60%;
    left:0;
}
#footer-email, #footer-call-me {
    margin-left: 55px;
}
#footer-phone-numbers {
    margin-left: 40px;
    margin-top: 20px;
}

.footer-menu {
    width: 18.3%;
    text-align: center;
    margin-top: 7.15%;
}
.footer-menu a { 
    text-decoration: none;
    color: #fff;
}
.footer-menu a:hover {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.footer-logo {
    width: 14.6%;
    height: auto;
    margin-top: 8%;
}
#footer-logo-ico {
    width: 100%;
    height: auto;
}
.foter-rights {
    width: 40%;
    font-size: 22px;
    margin-top: 35px;
    color: #fff;
    opacity: 0.6;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}



/*
    =====================goods page=========================
    ========================================================
 */

 
