body {
    background: #fff;
    font-size: 36px;
    font-family: Phenomena;
    max-height: 100%;
    height: auto;
    font-weight: bold;
}

*{
    box-sizing: border-box;  
}
.wrapper {
    max-width: 1200px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
    box-shadow: 0px 9px 20px 3px rgba(0,0,0,0.38);
    height: auto;
    margin-bottom: 10px;
}

/*
===================HEADER=====================
*/
.header {
    min-height: 230px;  
}
.header-user-field {
    position: relative;
    background-color: #fff;
    padding: 50px 15px 15px 15px;
    color: #658138;
    font-size: 30px;
}
.header-firstline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    min-height: 25px;
    margin-bottom: 30px;
}  

.header-secondline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    min-height: 40px;
}  
.header-line {
    vertical-align: middle;
}
.header-firstline .ru-language, .header-firstline .cz-language {
    color: #fe9900;
}
.header-firstline .active-language {
    color: #658138; 
}

.header-firstline a{
    display: inline-block;
    text-decoration: none;
    color: #658138; 
}
.header-secondline .cart{
    color: #658138; 
    text-decoration: none;
}
.header-secondline .empty{
    color: gray;
}

.header-secondline .serch-item {
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
}

.main-logo {
    position: absolute;
    left: calc(50% - 92.5px);
    top: 10px;
}
.header-user-field img {
    margin-right: 5px;
}

/*
===================MAIN MENU=====================
*/

.main-menu {
    min-height: 50px;
    background-color: #658138;
    width: 100%;
    display: flex; 
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.main-menu img {
    width: 40px;
    height: 40px;
 }

 .main-menu-item{
     display: inline-block;
     position: relative;
     font-size: 36px;
 }
 
 .main-menu-item:hover {
      text-shadow:
        -2px -2px 0 #360,
        2px -2px 0 #360,
        -2px 2px 0 #360,
        2px 2px 0 #360;
 }
  .main-menu-item a{
     color: #fff;
     text-decoration: none;
 }
 .main-menu-cart-left {
    position: absolute;
    left: 20px;
    top: 5px;
 }
 .main-menu-cart-right {
    position: absolute;
    right: 20px;
    top: 5px;
 }

.menu .line {
    margin-right: 30px;
}
.line::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: #fff;
    z-index: 150;
    right: -20px;
    bottom: 0px;
    }
    /*
    ==================main Banner===================
    */

.content {
    width: 100%;
}
.main-banner {
    width: 100%;
    max-width: 1200px;
    position: relative;

 }
 .banner-field {
    width: 100%;
  height: auto;
 }
.main-banner-slider {
    width: 10%;
    height: 25px;
    background-color: transparent;
    position: absolute;
    z-index: 150;
    bottom: 10px;
    left: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}
.checkbox:hover {
    cursor: pointer;
    background-color: #b8b8b8;
    transition: 0.5s ease;
    }

.main-banner-slider .checkbox-active {
    background-color: #668238;
}

/*
    ==================New goods field===================
 */

 .new-goods-field {
    width: 100%;
    color: #658138;
 }

 .new-goods-header {
     width: 38%;
     margin: 10px auto;
     font-size: 36px;
     text-align: center;
     min-height: 50px;
     font-weight: bold;
 }
 .new-goods-slider {
     width: 100%;
     height: auto;
     min-height: 200px;
     display: flex;
     justify-content: space-around;
     flex-wrap: nowrap;
     position: relative;
     padding: 0 10px;
     margin-bottom: 10px;


 }
 .new-goods-slider-item {
     width: 21.7%;
     height: auto;
     background-color: #fff;
 }
.new-goods-slider-item a {
    text-decoration: none;
}
 .new-goods-slider-item-ico {
      width: 100%;
      height: auto;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.27);
      margin-bottom: 15px;
 }
 .new-goods-slider-item-button {
     width: 100%;
     height: 15.7%;
     font-size: 36px;
     background-color: #668238; 
     color: #fff;
     display: flex;
     vertical-align: middle;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 10px;
     opacity: 1;
     
 }
 .new-goods-slider-item-button:hover {
     opacity: 0.8;
     transition: 0.5s ease;
     cursor: pointer;
 }
 .new-font-size {
     font-size: 26px;
 }
 .slider_arrow_left {
     left: 5px;
     top: 35%;
 }
 .slider_arrow_right {
     right: 5px;
     top: 35%;
}

.slider_arrows {
     z-index: 999;
     position: absolute;
}

.slider_arrows:hover {
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.subscribe-field {
    width: 100%;
    height: 300px;
    background: url(../images/subscribe_banner.jpg) no-repeat center;
    background-size: 100%;
    display: flex;
    justify-content:flex-end;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

}
.subscribe-banner-text {
    color: #444444;
    font-size: 50px;
    margin-left: 22%;
    width: 39.6%;
    font-weight: bold;

}

.subscribe-banner-text span {
    color: #fe9900;

}

.subcribe-banner-form {
    width: 35%;
    margin-right: 15px;
}
#subscribe-form {
    width: 100%;
    height: auto;
}
#submit-subscribe {
    color: #fff;
    background-color: #fe9900;
    width: 48%;
    font-size: 30px;
    border: none;
    opacity: 1;
    margin-left: 26%;
    font-family: Phenomena;
}
#submit-subscribe:hover {
    opacity: 0.8;
}

#subscribe-number-field, #subscribe-email-field {
    width: 80.5%;
    font-size: 24px;
    color: #fff;
    background-color: #f9c87e;
    border: none;
    margin-bottom: 10px;
    margin-left: 9.75%;
    padding: 3px 10px;
}

#subscribe-number-field:hover, #subscribe-email-field:hover {
cursor: text;
}
#subscribe-number-field:focus, #subscribe-email-field:focus {
cursor: text;
outline: none;
}

/*
    ==================Actions field===================
 */
 .shares-field {
     width: 100%;
     height: auto;
 }

 .shares-header {
     width: 30%;
     margin: 10px auto;
     font-size: 36px;
     text-align: center;
     min-height: 50px;
     color: #658138;
     font-weight: bold;
 }

 .shares-banners {
     width: 100%;
     height: auto;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
}

.share-banner-imege {
    width: 31.6%;
    height: 100%;
    cursor: pointer;
}

/*
    ================manufacturers slider====================
 */

 .manufacturers-slider {
     width: 100%;
     height: auto;
     margin-bottom: 10px;

 }
 .manufacturers-slider-wrapper {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-around;
     flex-wrap: nowrap;
     align-items: center;
     position: relative;


 }

.manufacturers-slider-item {
    width:12.5%;
    height: auto;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.27);
    margin-bottom: 10px;
    cursor: pointer;
}
.manufacturers-slider-ico {
    width: 100%;
    height: auto;
}

.manufacturers-slider-right-arrow {
position: absolute;
top: 35%;
right: 5px;

}
.manufacturers-slider-left-arrow {
    position: absolute;
    left: 5px;
    top: 35%;
}

/*
    ================manufacturers slider====================
 */

 .footer {
     width: 100%;
     height: 100%;
     padding: 0 15px 0 15px;
     background: url(../images/footer_background.jpg) no-repeat center;
     font-size: 30px;
 }
.main-footer-info {
    
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    color: #fff;

}

.footer-schedule {
    width: 26.6%;
    height: auto;
    position: relative;
}
.footer-schedule img {
    width: 100%;
    height: auto;
}

.footer-contacts {
    width: 28.2%;
    margin-top: 7%;
    margin-bottom: 20px;
    position: relative;
    min-width: 235px;
}

.footer-contacts img {
    display: inline-block;
    position: absolute;
    top: -3S%;
    left:0;
}
#footer-email-ico {
    top: 60%;
    left:0;
}
#footer-email, #footer-call-me {
    margin-left: 55px;
}
#footer-phone-numbers {
    margin-left: 40px;
    margin-top: 20px;
}

.footer-menu {
    width: 18.3%;
    text-align: center;
    margin-top: 7.15%;
}
.footer-menu a { 
    text-decoration: none;
    color: #fff;
}
.footer-menu a:hover {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.footer-logo {
    width: 14.6%;
    height: auto;
    margin-top: 8%;
}
#footer-logo-ico {
    width: 100%;
    height: auto;
}
.foter-rights {
    width: 40%;
    font-size: 22px;
    margin-top: 35px;
    color: #fff;
    opacity: 0.6;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}



/*
    =====================goods page=========================
    ========================================================
 */

 
