body {
    background: #fff;
    font-size: 36px;
    font-family: Phenomena;
    max-height: 100%;
}

*{
    box-sizing: border-box;  
}
.wrapper {
    max-width: 1200px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
    box-shadow: 0px 9px 20px 3px rgba(0,0,0,0.38);
}

/*
===================HEADER=====================
*/
.header {
    min-height: 240px;  
}
.header-user-field {
    position: relative;
    background-color: #fff;
    padding: 50px 15px 15px 15px;
    color: #658138;
}
.header-firstline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    min-height: 25px;
    margin-bottom: 30px;
}  

.header-secondline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    min-height: 40px;
}  
.header-line {
    vertical-align: middle;
}
.header-firstline .ru-language, .header-firstline .cz-language {
    color: #fe9900;
}
.header-firstline .active-language {
    color: #658138; 
}

.header-firstline a{
    display: inline-block;
    text-decoration: none;
    color: #658138; 
}
.header-secondline .cart{
    color: #658138; 
    text-decoration: none;
}
.header-secondline .empty{
    color: gray;
}

.header-secondline .serch-item {
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
}

.main-logo {
    position: absolute;
    left: calc(50% - 92.5px);
    top: 10px;
}
.header-user-field img {
    margin-right: 5px;
}

/*
===================MAIN MENU=====================
*/

.main-menu {
    min-height: 50px;
    background-color: #658138;
    width: 100%;
    display: flex; 
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.main-menu img {
    width: 40px;
    height: 40px;
 }

 .main-menu-item{
     display: inline-block;
     position: relative;
 }
  .main-menu-item a{
     color: #fff;
     text-decoration: none;
 }
 .main-menu-cart-left {
    position: absolute;
    left: 20px;
    top: 5px;
 }
 .main-menu-cart-right {
    position: absolute;
    right: 20px;
    top: 5px;
 }

.menu .line {
    margin-right: 30px;
}
.line::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: #fff;
    z-index: 150;
    right: -20px;
    bottom: 0px;
    }
    /*
    ==================content===================
    */

.content {
    width: 100%;
}
.main-banner {
    width: 100%;
    max-width: 1200px;
    position: relative;

 }
 .banner-field {
    width: 100%;
  height: auto;
 }
.main-banner-slider {
    width: 10%;
    height: 25px;
    background-color: transparent;
    position: absolute;
    z-index: 150;
    bottom: 10px;
    left: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}
.checkbox:hover {
    cursor: pointer;
    background-color: #b8b8b8;
    transition: 0.5s ease;
    }

.main-banner-slider .checkbox-active {
    background-color: #668238;
}